@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-[#FDFCF9] text-gray-900 antialiased;
	font-family: "Montserrat", sans-serif;
}

/* section[id] {
	scroll-margin-top: 80px;
} */

.container {
	@apply mx-auto px-5 max-w-[1200px];
}

.text-section {
	@apply text-2xl lg:text-3xl font-semibold uppercase;
}

.flex-center {
	@apply flex items-center justify-center;
}
